<html>

<head>
	<title>Images</title>
</head>

<body>
	<h1>Images for {{user}} in {{request.url.path.split('/')[2]}}
		{{'repositories' if request.url.path.split('/')[2]=='all' else 'repository'}}</h1>
	<div style="display: flex; flex-wrap: wrap;">
		{% for image in all_images %}
		<div style="margin:2rem;">
			<h5>S3 name:{{image.s3_name}}</h5>
			<h5>Your image name: {{image.org_name}}</h5>
			<h5>Permission: {{image.permission}}</h5>
			<h5>Date created: {{image.date_created}}</h5>
			<img style="width: 15rem; height: 15rem;" src="{{image.url}}" />
		</div>
		{% endfor %}
	</div>
</body>

</html>
